@font-face {
    font-family: "Product Sans Lighter";
    src: url('../font/product-sans/Product\ Sans\ Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url('../font/product-sans/Product\ Sans\ Bold.ttf') format("truetype");
}

body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Product Sans Lighter';
    background-color: var(--white-color);
}

/* Variable Define */
:root{
    --primary-color:#F9C216;
    --white-color: #FFFFFF;
    --text-color: #343D3F;
    --spacer-color: #212C85;
}


/*******Hero Start*****/
.container_header{
    width: 100%;
    height: 100vh;
    background-color: var(--spacer-color);
}

.container_header_overlay {
    width: 100%;
    height: 110%;
    background-image: url('../img/AboutUsIcons/diverse-people-working-office3.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 52.5% 74%;
}

.container_layout_content {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.layout_content_text {
    margin: auto;
    width: 90%;
    height: auto;
}

.layout_content_text span{
    color: var(--primary-color);
    font-size: 40px;
    font-weight: bold;
}

.layout_text_h1 {
    color: var(--white-color);
    font-size: 5.2083333333vw;
    letter-spacing: 0.1041666667vw;
    font-weight: bold;
    margin-bottom: 20px;
    width: 1000px;  
}

.layout_text_h3 {
    color: var(--white-color);
    font-size: 1.5625vw;
    text-align: left;
    font-weight: lighter;
    padding-bottom: 0.5208333333vw;
    opacity: 1;
}

@media (max-width: 1366px) {
    .layout_text_h1 {
        width: 800px;
    }
}
@media (max-width: 1000px) {
    .layout_text_h1{
        font-size:  45px;
        width: auto;
    }
    .layout_content_text span{
        font-size: 30px;
    }
    .container_header{
        height: auto;
    }
}
@media (max-width: 650px) {
    .container_header_overlay {
        background-size: 55% 60%;
    }
}
/*******Hero End*****/

/******* Section Paragraph Start *****/
.paragraph-content{
    background-color: #F5F5F5
}

.paragraph-content h2{
    font-size: 50px;
    color: var(--text-color);
    font-weight: lighter;
    opacity: 1;
}

.paragraph-content-span{
    font-size: 50px;
    color: var(--text-color);
    font-weight: bold;
    opacity: 1;
}

@media (max-width:1366px) {
    .paragraph-content h2{
        font-size: 45px;
    }
    .paragraph-content-span{
        font-size: 45px;
    }
}
@media (max-width:1000px) {
    .paragraph-content h2{
        font-size: 40px;
    }
    .paragraph-content-span{
        font-size: 40px;
    }
}
/******* Section Paragraph End *****/

/******* Section About Start *****/
.about-content{
    min-height: 100vh;
}

.about-content h1{
    font-size: 40px;
    color: var(--text-color);
    opacity: 1;
    font-weight: lighter;
}

.about-content h2{
    font-size: 30px;
    color: var(--text-color);
    font-weight: bold;
    opacity: 1;
}
.about-content p{
    font-size: 20px;
    color: var(--text-color);
    opacity: 0.7;
}

@media (max-width: 1000px) {
    .features-content h1{
        font-size:  45px;
    }
}
/******* Section About End *****/


/*******Section Services Start*****/
.services-content h1{
    font-size: 40px;
    color: var(--text-color);
    opacity: 1;
    font-weight: lighter;
}

.services-content h2{
    font-size: 30px;
    opacity: 1;
    color: var(--text-color);
    font-weight: bold;
}

.services-content p{
    font-size: 20px;
    opacity: 1;
    color:#333333B3;
}

.services-content img{
    height: 81px;
}

.quote{
    width: 69px;
}

.services_card {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1500px;
    min-height: auto;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap;
}

.item_service {
    flex-basis: 200px;
    max-width: 450px;
    flex-grow: 1;
}

.card-content-service{
    width: 100%;
    margin: 0 auto;
}

.article_service {
    min-height: 450px;
    max-height: 500px;
    overflow: hidden;
    border: 0.5px solid rgba(52, 61, 63, 0);
}

@media (max-width: 1366px) {
    .services-content h2{
        font-size: 29px;
    }
}
@media (max-width: 850px) {
    .services-content h1{
        font-size: 45px;
    }
}
@media (max-width: 576px) {
    .article_service {
        min-height: auto;
        max-height: 1000px;
    }
}
/*******Section Services End*****/


/******* Section Info Start *****/
.info-content h1{
    font-size: 60px;
    opacity: 1;
    color: var(--text-color);
    letter-spacing: 2.4px;
}

.info-content h2{
    font-size: 80px;
    opacity: 1;
    color: #111B6B;
    font-weight: bold;
}

.info-content p{
    font-size: 30px;
    opacity: 1;
    color: var(--text-color);
}

.info-content hr{
    height: 2px;
    width: 100%;
    background-color:#F9C216;
    border: none;
    opacity: 1;
}

.info-content li{
    min-width: 100px;
    list-style: none;
    font-size: 16px;
    color: var(--spacer-color);
    border: 1px solid var(--spacer-color);
}

.info-content article{
    border: 0.5px solid transparent;
    border-radius: 10px;
    transition: border 0.3s ease-in-out;
}

.info_card {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1500px;
    min-height: auto;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap;
}

.item_info {
    flex-basis: 200px;
    max-width: 450px;
    flex-grow: 1;
}

.card-content-info_features {
    width: 70%;
    height: 250px;
    margin: 0 auto;
    text-align: start;
}

.card-content-info {
    width: 80%;
    margin: 0 auto;
}

.career_section_card_info {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 80vh;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap;
    padding: 50px 0;
}

.article_info {
    border: 0.5px solid rgba(52, 61, 63, 0);
}

@media (max-width: 1366px) {
    .info-content h2{
        font-size: 65px;
    }
    .info-content p{
        font-size: 25px;
    }
}
@media (max-width: 850px) {
    .info-content h1{
        font-size: 45px;
    }
}
@media (max-width: 500px) {
    .info-content li{
        min-width: 90px
    }
}
/******* Section Info End *****/

/*******Section TeamWork Start*****/
.hero-teamWork{
    background-image: url(../img/AboutUsIcons/Group\ 484.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 110vh;
    margin-top: 100px;
}

.hero-teamWork h2{
    font-size: 60px;
    letter-spacing: 2.4px;
    opacity: 1;
}

.hero-teamWork h3{
    color: var(--white-color);
    font-size: 40px;
    opacity: 1;
}

.hero-teamWork p{
    color: var(--white-color);
    font-size: 30px;
    opacity: 1;
    font-weight: lighter;
}

.btn-join{
    width: 160px!important;
    height: 45px!important;
}

@media (max-width:1200px) {
    .hero-teamWork h1{
        font-size: 60px;
    }
    .hero-teamWork h2{
        font-size: 40px;
    }
    .hero-teamWork h3{
        font-size: 30px;
    }
    .hero-teamWork p{
        font-size: 22px;
    }
}
@media (max-width:500px) {
    .hero-teamWork h1{
        font-size: 50px;
    }
    .hero-teamWork h2{
        font-size: 37px;
    }
    .hero-teamWork h3{
        font-size: 28px;
    }
    .hero-teamWork p{
        font-size: 20px;
    }
}
/*******Section TeamWork End*****/
