/*******CIRCLE START*****/
.background_circle{
    padding-right: 120px;
    background: #212C85;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #212C85), color-stop(51%, #212C85), color-stop(51%, #FFFFFF), color-stop(100%, #FFFFFF));
    background: linear-gradient(to bottom, #212C85 0%, #212C85 51%, #FFFFFF 51%, #FFFFFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#212C85", endColorstr="#FFFFFF", GradientType=0 );
  }
  
  .container_small_circle{
    height: 120px;
    width: 100%;
  }

  .container_big_circle {
    height: 160px;
    width: 100%;
  }
  
  .background_circle img{
    float: right;
    width: auto;
    height: 100%;
  }
  
  @media (max-width: 1366px) {
    .background_circle{
      padding-right: 120px;
    }
  }
  @media (max-width: 800px) {
    .background_circle{
      padding-right: 50px;
    }
  }
  /*******CIRCLE END*****/
