@font-face {
    font-family: "Product Sans Lighter";
    src: url('../font/product-sans/Product\ Sans\ Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url('../font/product-sans/Product\ Sans\ Bold.ttf') format("truetype");
}

body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Product Sans Lighter';
    background-color: var(--white-color);
}

/* Variable Define */
:root{
    --primary-color:#F9C216;
    --white-color: #FFFFFF;
    --text-color: #343D3F;
    --spacer-color: #212C85;
}


/*******Hero Start*****/
.container_header{
    width: 100%;
    height: 71vh;
    background-color: var(--spacer-color);
}

.container_header_overlay {
    width: 100%;
    height: 85%;
}

.container_layout_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.layout_content_text {
    margin: auto;
    width: 90%;
    height: auto;
}

.layout_content_text span{
    color: var(--primary-color);
    font-size: 40px;
    font-weight: bold;
}

.layout_text_h1 {
    color: var(--white-color);
    font-size: 5.2083333333vw;
    letter-spacing: 0.1041666667vw;
    font-weight: bold;
    margin-bottom: 20px;
}

.layout_text_h3 {
    color: var(--white-color);
    font-size: 1.5625vw;
    text-align: left;
    font-weight: lighter;
    padding-bottom: 0.5208333333vw;
    opacity: 1;
}

@media (max-width: 1000px) {
    .layout_text_h1{
        font-size:  45px;
    }
    .layout_content_text span{
        font-size: 30px;
    }
    .container_header{
        height: auto;
    }
}
/*******Hero End*****/

/*******Paragraph-content Start*****/
.paragraph-content p{
    max-width: 1088px;
    font-size: 30px;
    opacity: 1;
    color: #343D3FB3;
}

@media (max-width:1300px) {
    .paragraph-content{
        max-width:auto;
    } 
}
/*******Paragraph-content End*****/

/*******Section Services Start*****/
.services-content h1{
    color: #333333;
    opacity: 1;
    font-size: 40px;
    font-weight: bold;
}

.services-content h2{
    font-size: 30px;
    opacity: 1;
    color: var(--text-color);
    font-weight: bold;
}

.services-content p{
    font-size: 20px;
    opacity: 0.7;
    color: var(--text-color);
}

.services-content article{
    border: 0.5px solid transparent;
    border-radius: 10px;
    transition: border 0.3s ease-in-out;
}

.services-content .link-check-out{
    background-color: var(--primary-color);
    width:auto!important;
    font-size: 20px!important;
}

.services-content article:hover{
    border-color: #343d3f2a;
}

.services-content a{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.services-content article:hover a{
    opacity: 1;
}

.services_card {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1500px;
    min-height: 70vh;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap;
}

.item_service {
    flex-basis: 300px;
    max-width: 450px;
    flex-grow: 1;
}

.card-content-service{
    width: 80%;
    margin: 0 auto;
}

.article_service {
    min-height: 450px;
    max-height: 500px;
    overflow: hidden;
    padding: 15px 0 15px 0;
    margin: 20px;
    border: 0.5px solid rgba(52, 61, 63, 0);
}

.article_service:hover {
    border: 0.5px solid rgba(52, 61, 63, 0.2470588235);
    border-radius: 10px;
    transition: border 0.3s ease-in-out;
}

@media (max-width: 850px) {
    .services-content h1{
        font-size: 45px;
    }
}
@media (max-width: 576px) {
    .article_service {
        min-height: auto;
        max-height: 1000px;
    }
}
/*******Section Services End*****/






